body{
    background-image: url('images/bg.png');
}
@media screen and (max-width: 479px) {
/* just the logo  */
}
.container {
    display: flex;
    padding: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo {
    transition: height 0.5s ease-in-out;
}
.minor {
    margin: 5px;
    transition: height 0.5s ease-in-out;
}
.minor img{
    width: 100px;
}
.link {
    margin: 5px;
    transition: height 0.5s ease-in-out;
}
.link img{
    width: 50px;
}
.nextgen {
    margin: 5px;
    transition: height 0.5s ease-in-out;
}
.nextgen img{
    width: 40px;
}
.jojo {
    margin: 5px;
    transition: height 0.5s ease-in-out;
}
.jojo img {
    width: 200px;
}